.vagrant/
config/development.config.php
data/cache/*
!data/cache/.gitkeep
phpunit.xml
ubuntu-xenial-16.04-cloudimg-console.log

*.md
!README.md
### ZendFramework template
# Composer files
composer.phar
vendor/

# Local configs
config/autoload/*.local.php

# Binary gettext files
*.mo

# Data
data/logs/
data/cache/
data/sessions/
data/tmp/
temp/

#Doctrine 2
data/DoctrineORMModule/Proxy/
data/DoctrineORMModule/cache/


# Legacy ZF1
demos/
extras/documentation
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
data/
/public/data/
